{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <h1>Instagram</h1>
 <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                      {{ field }}
                    </div>
                {% endfor %}
                {% if form.non_field_errors %}
                    <ul class="list-unstyled text-danger">
                        {% for error in form.non_field_errors %}
                            <li>{{ error|escape}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <a      href=""
                        class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">login</a>
            </form>
            <a href="{% url 'members:signup' %}">SIGN UP</a>


          </div>

        </div>
      </div>
    </div>
 </div>

{% endblock %}
